<div class="jumbotron text-center">
  <h1 class="display-3">Home page</h1>
  <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem repudiandae harum odit cumque alias!
    Dolorum mollitia, illo eius odit deleniti et fugiat quas molestiae quod sint numquam consequuntur exercitationem
    quis.</p>
  <a href="/ideas/add" class="btn btn-dark btn-lg">Add New Idea</a>
</div>